<div class="row">
  <div class="column medium-8 medium-push-4 large-push-3 large-9">
    <%= render 'page_header', title: "About James", subtitle: "Atlanta based UX designer with 5 years of experience." %>
    <div class="column large-12">
    	Hey <%= @name %>
    </div>
    <div class="column large-12">
      <p>
        From a small town in Ohio, James grew up always asking why. A curiousity that lead him to study Industrial Design at the University of Cincinnati, and working co-op jobs at companies like General Electric, Hasbro, Learning Curve and MeadWestvaco.
      </p>
      <p>
        After school he recieved a job working for AT&T's Digital Life division on the next generation security system. After it's launch he moved to a job at Careerbuilder, where he has done user experience design covering the entire job seeker site and has helped implement the system of Lean UX.
      </p>
      <p>
        He nows lives in the town of Brookhaven with his dog Cooper, and spends his time outside of work learning skills such development in a Ruby on Rails platform, reading short stories from Eastern authors, and of course honing his sweet ninja skills by sneaking up on the elderly.
      </p>
    </div>
  </div>
  <div class="column small-12 small-pull-0 medium-4 medium-pull-8 large-pull-9 large-3 end">
    <div class="row">
      <div class="column large-12 medium-12 small-5">
        <%= image_tag "profile-picture-long.jpg", :class => "bio" %>
      </div>
    </div>
  </div>
</div>