<style>
  .box {
    color: white;
    background-color: blue;
    border: 2px solid black;
  }
  .out-box {
    color: white;
    background-color: black;
    padding: 2px;
  }
  .in-box {
    background-color: blue;
  }
</style>
<div class="box">
  James
</div>
<div class="out-box">
  <div class="in-box">
    James
  </div>
</div>