// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ninjaauthor: image-url('profile-ninja.jpg');
$ninjabio: image-url('profile-ninja-long.jpg');

.author:hover {
  content:$ninjaauthor;
}
.bio:hover {
  content: $ninjabio;
}